flows.json
[
    {
        "id": "1b1ce8e2.cd3017",
        "type": "tab",
        "label": "Cadastro Medicamentos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93d8e26c.9a58b",
        "type": "ui_ui_control",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "events": "all",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "80738337.48c3b",
                "bd5179e5.2a2258",
                "b9afab97.a56fd8",
                "ed961bd2.e401c8",
                "85c505a4.737a78",
                "2fcac090.040b2",
                "6a878037.18bd7"
            ]
        ]
    },
    {
        "id": "f73774c4.e77268",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "func": "qtd = msg.payload;\n\nif (qtd==0){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed1\",\"Medicamentos_CadastroMed2\",\"Medicamentos_CadastroMed3\",\"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\",\"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"]}}\n    return msg;\n}else if (qtd == 1){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed2\",\"Medicamentos_CadastroMed3\",\"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\",\"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"], \"show\": [\"Medicamentos_CadastroMed1\"]}}\n    return msg;\n}else if(qtd==2){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed3\",\"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\",\"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"], \"show\": [\"Medicamentos_CadastroMed1\", \"Medicamentos_CadastroMed2\"]}}\n    return msg;\n}else if(qtd==3){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\",\"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"], \"show\": [\"Medicamentos_CadastroMed1\", \"Medicamentos_CadastroMed2\", \"Medicamentos_CadastroMed3\"]}}\n    return msg;\n}else if(qtd==4){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed5\",\"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"], \"show\": [\"Medicamentos_CadastroMed1\", \"Medicamentos_CadastroMed2\", \"Medicamentos_CadastroMed3\", \"Medicamentos_CadastroMed4\"]}}\n    return msg;\n}else if(qtd==5){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"], \"show\": [\"Medicamentos_CadastroMed1\", \"Medicamentos_CadastroMed2\", \"Medicamentos_CadastroMed3\", \"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\"]}}\n    return msg;\n}else if(qtd==6){\n    msg.payload = {\"group\": {\"hide\": [\"Medicamentos_CadastroMed7\"], \"show\": [\"Medicamentos_CadastroMed1\", \"Medicamentos_CadastroMed2\", \"Medicamentos_CadastroMed3\", \"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\", \"Medicamentos_CadastroMed6\"]}}\n    return msg;\n}else if(qtd==7){\n    msg.payload = {\"group\": {\"show\": [\"Medicamentos_CadastroMed1\", \"Medicamentos_CadastroMed2\", \"Medicamentos_CadastroMed3\", \"Medicamentos_CadastroMed4\", \"Medicamentos_CadastroMed5\", \"Medicamentos_CadastroMed6\", \"Medicamentos_CadastroMed7\"]}}\n    return msg;\n}\n\n        \n      \n\n     \n\n    ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 160,
        "wires": [
            [
                "93d8e26c.9a58b"
            ]
        ]
    },
    {
        "id": "1b7aff00.0f3931",
        "type": "inject",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"group\": {\"hide\": [\"Medicamentos_CadastroMed2\", \"Medicamentos_CadastroMed1\"]}}",
        "payloadType": "json",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "05fb4dcada77c2b6"
            ]
        ]
    },
    {
        "id": "80738337.48c3b",
        "type": "ui_form",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "label": "Medicamento 2",
        "group": "a3a8f60e.4747a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nome do medicamento",
                "value": "medName2",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Data de início do tratamento",
                "value": "medStartDate2",
                "type": "date",
                "required": false,
                "rows": null
            },
            {
                "label": "Hora de início do tratamento:",
                "value": "medStartTime2",
                "type": "time",
                "required": false,
                "rows": null
            },
            {
                "label": "Frequência (em horas)",
                "value": "medFreq2",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Dosagem por horário",
                "value": "dosMed2",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 1 ",
                "value": "medPlace2_1",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 2",
                "value": "medPlace2_2",
                "type": "checkbox",
                "required": true,
                "rows": null
            },
            {
                "label": "Compartimento 3",
                "value": "medPlace2_3",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 4",
                "value": "medPlace2_4",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 5 ",
                "value": "medPlace2_5",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 6",
                "value": "medPlace2_6",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 7",
                "value": "medPlace2_7",
                "type": "checkbox",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "medName2": "",
            "medStartDate2": "",
            "medStartTime2": "",
            "medFreq2": "",
            "dosMed2": "",
            "medPlace2_1": false,
            "medPlace2_2": false,
            "medPlace2_3": false,
            "medPlace2_4": false,
            "medPlace2_5": false,
            "medPlace2_6": false,
            "medPlace2_7": false
        },
        "payload": "",
        "submit": "Enviar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 620,
        "y": 900,
        "wires": [
            [
                "9bde799.7d15d88",
                "5e20f06a.56c57",
                "10948f0c.9a0521"
            ]
        ]
    },
    {
        "id": "cf51649e.cf4748",
        "type": "ui_dropdown",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "label": "N.º",
        "tooltip": "Selecione o número de medicamentos para cadastro",
        "place": "Selecione",
        "group": "c0c4f2d.99e0b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "0",
                "value": "0",
                "type": "str"
            },
            {
                "label": "1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "2",
                "value": "2",
                "type": "str"
            },
            {
                "label": "3",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4",
                "value": "4",
                "type": "str"
            },
            {
                "label": "5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "6",
                "value": "6",
                "type": "str"
            },
            {
                "label": "7",
                "value": "7",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "f73774c4.e77268"
            ]
        ]
    },
    {
        "id": "bd5179e5.2a2258",
        "type": "ui_form",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "label": "Medicamento 3",
        "group": "49ce15cd.8c285c",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nome do medicamento",
                "value": "medName3",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Data de início do tratamento",
                "value": "medStartDate3",
                "type": "date",
                "required": false,
                "rows": null
            },
            {
                "label": "Hora de início do tratamento",
                "value": "medStartTime3",
                "type": "time",
                "required": false,
                "rows": null
            },
            {
                "label": "Frequência (em horas)",
                "value": "medFreq3",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Dosagem por horário",
                "value": "dosMed3",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 1 do Meepi?",
                "value": "medPlace3_1",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 2  do Meepi?",
                "value": "medPlace3_2",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 3 do Meepi?",
                "value": "medPlace3_3",
                "type": "checkbox",
                "required": true,
                "rows": null
            },
            {
                "label": "Compartimento 4 do Meepi?",
                "value": "medPlace3_4",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 5 do Meepi?",
                "value": "medPlace3_5",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 6 do Meepi?",
                "value": "medPlace3_6",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 7 do Meepi?",
                "value": "medPlace3_7",
                "type": "checkbox",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "medName3": "",
            "medStartDate3": "",
            "medStartTime3": "",
            "medFreq3": "",
            "dosMed3": "",
            "medPlace3_1": false,
            "medPlace3_2": false,
            "medPlace3_3": false,
            "medPlace3_4": false,
            "medPlace3_5": false,
            "medPlace3_6": false,
            "medPlace3_7": false
        },
        "payload": "",
        "submit": "Enviar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 620,
        "y": 1060,
        "wires": [
            [
                "8fb15fec.b07fe",
                "c6da47dc.4f4928",
                "85d31014.3300d"
            ]
        ]
    },
    {
        "id": "b9afab97.a56fd8",
        "type": "ui_form",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "label": "Medicamento 4",
        "group": "ab7eb3dd.ce18e",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nome do medicamento",
                "value": "medName4",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Data de início do tratamento ",
                "value": "medStartDate4",
                "type": "date",
                "required": false,
                "rows": null
            },
            {
                "label": "Hora de início do tratamento",
                "value": "medStartTime4",
                "type": "time",
                "required": false,
                "rows": null
            },
            {
                "label": "Frequência (em horas)",
                "value": "medFreq4",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Dosagem por horário",
                "value": "dosMed4",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 1 do Meepi?",
                "value": "medPlace4_1",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 2 do Meepi?",
                "value": "medPlace4_2",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 3 do Meepi?",
                "value": "medPlace4_3",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 4 do Meepi?",
                "value": "medPlace4_4",
                "type": "checkbox",
                "required": true,
                "rows": null
            },
            {
                "label": "Compartimento 5 do Meepi?",
                "value": "medPlace4_5",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 6 do Meepi?",
                "value": "medPlace4_6",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 7 do Meepi?",
                "value": "medPlace4_7",
                "type": "checkbox",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "medName4": "",
            "medStartDate4": "",
            "medStartTime4": "",
            "medFreq4": "",
            "dosMed4": "",
            "medPlace4_1": false,
            "medPlace4_2": false,
            "medPlace4_3": false,
            "medPlace4_4": false,
            "medPlace4_5": false,
            "medPlace4_6": false,
            "medPlace4_7": false
        },
        "payload": "",
        "submit": "Enviar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 620,
        "y": 1200,
        "wires": [
            [
                "5838b5bd.10651c",
                "72c32fd5.00e52",
                "9dc8b411.80fa58"
            ]
        ]
    },
    {
        "id": "ed961bd2.e401c8",
        "type": "ui_form",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "label": "Medicamento 5",
        "group": "74b0a92c.8c4be8",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nome do medicamento",
                "value": "medName5",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Data de início do tratamento",
                "value": "medStartDate5",
                "type": "date",
                "required": false,
                "rows": null
            },
            {
                "label": "Hora de início do tratamento",
                "value": "medStartTime5",
                "type": "time",
                "required": false,
                "rows": null
            },
            {
                "label": "Frequência (em horas)",
                "value": "medFreq5",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Dosagem por horário",
                "value": "dosMed5",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 1?",
                "value": "medPlace5_1",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 2?",
                "value": "medPlace5_2",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 3 do Meepi?",
                "value": "medPlace5_3",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 4 do Meepi?",
                "value": "medPlace5_4",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 5 do Meepi?",
                "value": "medPlace5_5",
                "type": "checkbox",
                "required": true,
                "rows": null
            },
            {
                "label": "Compartimento 6 do Meepi?",
                "value": "medPlace5_6",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 7 do Meepi?",
                "value": "medPlace5_7",
                "type": "checkbox",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "medName5": "",
            "medStartDate5": "",
            "medStartTime5": "",
            "medFreq5": "",
            "dosMed5": "",
            "medPlace5_1": false,
            "medPlace5_2": false,
            "medPlace5_3": false,
            "medPlace5_4": false,
            "medPlace5_5": false,
            "medPlace5_6": false,
            "medPlace5_7": false
        },
        "payload": "",
        "submit": "Enviar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 620,
        "y": 1340,
        "wires": [
            [
                "354da1c6.52f2de",
                "861f9464.872d58",
                "7167fcd3.8741f4"
            ]
        ]
    },
    {
        "id": "85c505a4.737a78",
        "type": "ui_form",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "label": "Medicamento 6",
        "group": "65ee5774.da5698",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nome do medicamento",
                "value": "medName6",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Data de início do tratamento",
                "value": "medStartDate6",
                "type": "date",
                "required": false,
                "rows": null
            },
            {
                "label": "Hora de início do tratamento:",
                "value": "medStartTime6",
                "type": "time",
                "required": false,
                "rows": null
            },
            {
                "label": "Frequência (em horas)",
                "value": "medFreq6",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Dosagem por horário",
                "value": "dosMed6",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 1 do Meepi?",
                "value": "medPlace6_1",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 2 do Meepi?",
                "value": "medPlace6_2",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 3 do Meepi?",
                "value": "medPlace6_3",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 4 do Meepi?",
                "value": "medPlace6_4",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 5 do Meepi?",
                "value": "medPlace6_5",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 6 do Meepi?",
                "value": "medPlace6_6",
                "type": "checkbox",
                "required": true,
                "rows": null
            },
            {
                "label": "Compartimento 7 do Meepi?",
                "value": "medPlace6_7",
                "type": "checkbox",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "medName6": "",
            "medStartDate6": "",
            "medStartTime6": "",
            "medFreq6": "",
            "dosMed6": "",
            "medPlace6_1": false,
            "medPlace6_2": false,
            "medPlace6_3": false,
            "medPlace6_4": false,
            "medPlace6_5": false,
            "medPlace6_6": false,
            "medPlace6_7": false
        },
        "payload": "",
        "submit": "Enviar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 620,
        "y": 1480,
        "wires": [
            [
                "874e4bd4.ef83e8",
                "96c2bec4.a63bb",
                "d93fd66b.4891e8"
            ]
        ]
    },
    {
        "id": "2fcac090.040b2",
        "type": "ui_form",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "label": "Medicamento 7",
        "group": "c12a1ba1.28b078",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nome do medicamento",
                "value": "medName7",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Data de início do tratamento",
                "value": "medStartDate7",
                "type": "date",
                "required": false,
                "rows": null
            },
            {
                "label": "Hora de início do tratamento",
                "value": "medStartTime7",
                "type": "time",
                "required": false,
                "rows": null
            },
            {
                "label": "Frequência (em horas)",
                "value": "medFreq7",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Dosagem por horário",
                "value": "dosMed7",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 1 do Meepi?",
                "value": "medPlace7_1",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 2 do Meepi?",
                "value": "medPlace7_2",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 3 do Meepi?",
                "value": "medPlace7_3",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 4 do Meepi?",
                "value": "medPlace7_4",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 5 do Meepi?",
                "value": "medPlace7_5",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 6 do Meepi?",
                "value": "medPlace7_6",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 7 do Meepi?",
                "value": "medPlace7_7",
                "type": "checkbox",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "medName7": "",
            "medStartDate7": "",
            "medStartTime7": "",
            "medFreq7": "",
            "dosMed7": "",
            "medPlace7_1": false,
            "medPlace7_2": false,
            "medPlace7_3": false,
            "medPlace7_4": false,
            "medPlace7_5": false,
            "medPlace7_6": false,
            "medPlace7_7": false
        },
        "payload": "",
        "submit": "Enviar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 620,
        "y": 1620,
        "wires": [
            [
                "7b0bf6c.5e67f08",
                "48e9d6b1.20fed8",
                "e6f9d09d.5c62a"
            ]
        ]
    },
    {
        "id": "702c9c1a.d692c4",
        "type": "change",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED1] Create global variables",
        "rules": [
            {
                "t": "set",
                "p": "medName1",
                "pt": "global",
                "to": "payload.medName1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartDate1",
                "pt": "global",
                "to": "payload.medStartDate1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartTime1",
                "pt": "global",
                "to": "payload.medStartTime1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medFreq1",
                "pt": "global",
                "to": "payload.medFreq1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace1_1",
                "pt": "global",
                "to": "payload.medPlace1_1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace1_2",
                "pt": "global",
                "to": "payload.medPlace1_2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace1_3",
                "pt": "global",
                "to": "payload.medPlace1_3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace1_4",
                "pt": "global",
                "to": "payload.medPlace1_4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace1_5",
                "pt": "global",
                "to": "payload.medPlace1_5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace1_6",
                "pt": "global",
                "to": "payload.medPlace1_6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace1_7",
                "pt": "global",
                "to": "payload.medPlace1_7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "dosMed1",
                "pt": "global",
                "to": "payload.dosMed1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "c12eea3e.4aaba8",
                "f5a7ddf42ddc335f",
                "1710ad77e3b0c916"
            ]
        ]
    },
    {
        "id": "9bde799.7d15d88",
        "type": "change",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED2] Create global variables",
        "rules": [
            {
                "t": "set",
                "p": "medName2",
                "pt": "global",
                "to": "payload.medName2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartTime2",
                "pt": "global",
                "to": "payload.medStartTime2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartDate2",
                "pt": "global",
                "to": "payload.medStartDate2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medFreq2",
                "pt": "global",
                "to": "payload.medFreq2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace2_1",
                "pt": "global",
                "to": "payload.medPlace2_1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace2_2",
                "pt": "global",
                "to": "payload.medPlace2_2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace2_3",
                "pt": "global",
                "to": "payload.medPlace2_3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace2_4",
                "pt": "global",
                "to": "payload.medPlace2_4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace2_5",
                "pt": "global",
                "to": "payload.medPlace2_5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace2_6",
                "pt": "global",
                "to": "payload.medPlace2_6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace2_7",
                "pt": "global",
                "to": "payload.medPlace2_7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "dosMed2",
                "pt": "global",
                "to": "payload.dosMed2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 900,
        "wires": [
            [
                "3132748d.828fdc"
            ]
        ]
    },
    {
        "id": "8fb15fec.b07fe",
        "type": "change",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED3] Create global variables",
        "rules": [
            {
                "t": "set",
                "p": "medName3",
                "pt": "global",
                "to": "payload.medName3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartTime3",
                "pt": "global",
                "to": "payload.medStartTime3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartDate3",
                "pt": "global",
                "to": "payload.medStartDate3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medFreq3",
                "pt": "global",
                "to": "payload.medFreq3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace3_1",
                "pt": "global",
                "to": "payload.medPlace3_1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace3_2",
                "pt": "global",
                "to": "payload.medPlace3_2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace3_3",
                "pt": "global",
                "to": "payload.medPlace3_3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace3_4",
                "pt": "global",
                "to": "payload.medPlace3_4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace3_5",
                "pt": "global",
                "to": "payload.medPlace3_5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace3_6",
                "pt": "global",
                "to": "payload.medPlace3_6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace3_7",
                "pt": "global",
                "to": "payload.medPlace3_7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "dosMed3",
                "pt": "global",
                "to": "payload.dosMed3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1060,
        "wires": [
            [
                "ab42a4ea.a3a5d8"
            ]
        ]
    },
    {
        "id": "5838b5bd.10651c",
        "type": "change",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED4] Create global variables",
        "rules": [
            {
                "t": "set",
                "p": "medName4",
                "pt": "global",
                "to": "payload.medName4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartTime4",
                "pt": "global",
                "to": "payload.medStartTime4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartDate4",
                "pt": "global",
                "to": "payload.medStartDate4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medFreq4",
                "pt": "global",
                "to": "payload.medFreq4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "dosMed4",
                "pt": "global",
                "to": "payload.dosMed4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace4_1",
                "pt": "global",
                "to": "payload.medPlace4_1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace4_2",
                "pt": "global",
                "to": "payload.medPlace4_2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace4_3",
                "pt": "global",
                "to": "payload.medPlace4_3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace4_4",
                "pt": "global",
                "to": "payload.medPlace4_4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace4_5",
                "pt": "global",
                "to": "payload.medPlace4_5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace4_6",
                "pt": "global",
                "to": "payload.medPlace4_6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace4_7",
                "pt": "global",
                "to": "payload.medPlace4_7",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1200,
        "wires": [
            [
                "4f800199.43ec8"
            ]
        ]
    },
    {
        "id": "354da1c6.52f2de",
        "type": "change",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED5] Create global variables",
        "rules": [
            {
                "t": "set",
                "p": "medName5",
                "pt": "global",
                "to": "payload.medName5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartTime5",
                "pt": "global",
                "to": "payload.medStartTime5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartDate5",
                "pt": "global",
                "to": "payload.medStartDate5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medFreq5",
                "pt": "global",
                "to": "payload.medFreq5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "dosMed5",
                "pt": "global",
                "to": "payload.dosMed5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace5_1",
                "pt": "global",
                "to": "payload.medPlace5_1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace5_2",
                "pt": "global",
                "to": "payload.medPlace5_2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace5_3",
                "pt": "global",
                "to": "payload.medPlace5_3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace5_4",
                "pt": "global",
                "to": "payload.medPlace5_4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace5_5",
                "pt": "global",
                "to": "payload.medPlace5_5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace5_6",
                "pt": "global",
                "to": "payload.medPlace5_6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace5_7",
                "pt": "global",
                "to": "payload.medPlace5_7",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1340,
        "wires": [
            [
                "80cee24.f930a2"
            ]
        ]
    },
    {
        "id": "874e4bd4.ef83e8",
        "type": "change",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED6] Create global variables",
        "rules": [
            {
                "t": "set",
                "p": "medName6",
                "pt": "global",
                "to": "payload.medName6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartTime6",
                "pt": "global",
                "to": "payload.medStartTime6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartDate6",
                "pt": "global",
                "to": "payload.medStartDate6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medFreq6",
                "pt": "global",
                "to": "payload.medFreq6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace6_1",
                "pt": "global",
                "to": "payload.medPlace6_1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace6_2",
                "pt": "global",
                "to": "payload.medPlace6_2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace6_3",
                "pt": "global",
                "to": "payload.medPlace6_3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace6_4",
                "pt": "global",
                "to": "payload.medPlace6_4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace6_5",
                "pt": "global",
                "to": "payload.medPlace6_5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace6_6",
                "pt": "global",
                "to": "payload.medPlace6_6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace6_7",
                "pt": "global",
                "to": "payload.medPlace6_7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "dosMed6",
                "pt": "global",
                "to": "payload.dosMed6",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1480,
        "wires": [
            [
                "328daf99.32c93"
            ]
        ]
    },
    {
        "id": "7b0bf6c.5e67f08",
        "type": "change",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED7] Create global variables",
        "rules": [
            {
                "t": "set",
                "p": "medName7",
                "pt": "global",
                "to": "payload.medName7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartTime7",
                "pt": "global",
                "to": "payload.medStartTime7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medStartDate7",
                "pt": "global",
                "to": "payload.medStartDate7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medFreq7",
                "pt": "global",
                "to": "payload.medFreq7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace7_1",
                "pt": "global",
                "to": "payload.medPlace7_1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace7_2",
                "pt": "global",
                "to": "payload.medPlace7_2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace7_3",
                "pt": "global",
                "to": "payload.medPlace7_3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace7_4",
                "pt": "global",
                "to": "payload.medPlace7_4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace7_5",
                "pt": "global",
                "to": "payload.medPlace7_5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace7_6",
                "pt": "global",
                "to": "payload.medPlace7_6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medPlace7_7",
                "pt": "global",
                "to": "payload.medPlace7_7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "dosMed7",
                "pt": "global",
                "to": "payload.dosMed7",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1620,
        "wires": [
            [
                "6325bf0.6edb34"
            ]
        ]
    },
    {
        "id": "76f1b272.d0d9ac",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED1] Create medPlace Array",
        "func": "var medplace1 = global.set(\"medPlace1\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace1_1 == true){\n    global.set(\"medPlace1[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace1_2 == true){\n    global.set(\"medPlace1[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace1_3 == true){\n    global.set(\"medPlace1[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace1_4 == true){\n    global.set(\"medPlace1[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace1_5 == true){\n    global.set(\"medPlace1[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace1_6 == true){\n    global.set(\"medPlace1[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace1_7 == true){\n    global.set(\"medPlace1[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace1[\"+6+\"]\", f)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "5e20f06a.56c57",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED2] Create medPlace Array",
        "func": "var medplace2 = global.set(\"medPlace2\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace2_1 == true){\n    global.set(\"medPlace2[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace2_2 == true){\n    global.set(\"medPlace2[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace2_3 == true){\n    global.set(\"medPlace2[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace2_4 == true){\n    global.set(\"medPlace2[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace2_5 == true){\n    global.set(\"medPlace2[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace2_6 == true){\n    global.set(\"medPlace2[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace2_7 == true){\n    global.set(\"medPlace2[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace2[\"+6+\"]\", f)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "c6da47dc.4f4928",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED3] Create medPlace Array",
        "func": "var medplace3 = global.set(\"medPlace3\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace3_1 == true){\n    global.set(\"medPlace3[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace3_2 == true){\n    global.set(\"medPlace3[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace3_3 == true){\n    global.set(\"medPlace3[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace3_4 == true){\n    global.set(\"medPlace3[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace3_5 == true){\n    global.set(\"medPlace3[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace3_6 == true){\n    global.set(\"medPlace3[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace3_7 == true){\n    global.set(\"medPlace3[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace3[\"+6+\"]\", f)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "72c32fd5.00e52",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED4] Create medPlace Array",
        "func": "var medplace4 = global.set(\"medPlace4\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace4_1 == true){\n    global.set(\"medPlace4[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace4_2 == true){\n    global.set(\"medPlace4[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace4_3 == true){\n    global.set(\"medPlace4[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace4_4 == true){\n    global.set(\"medPlace4[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace4_5 == true){\n    global.set(\"medPlace4[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace4_6 == true){\n    global.set(\"medPlace4[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace4_7 == true){\n    global.set(\"medPlace4[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace4[\"+6+\"]\", f)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "861f9464.872d58",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED5] Create medPlace Array",
        "func": "var medplace5 = global.set(\"medPlace5\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace5_1 == true){\n    global.set(\"medPlace5[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace5_2 == true){\n    global.set(\"medPlace5[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace5_3 == true){\n    global.set(\"medPlace5[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace5_4 == true){\n    global.set(\"medPlace5[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace5_5 == true){\n    global.set(\"medPlace5[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace5_6 == true){\n    global.set(\"medPlace5[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace5_7 == true){\n    global.set(\"medPlace5[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace5[\"+6+\"]\", f)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "96c2bec4.a63bb",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED6] Create medPlace Array",
        "func": "var medplace6 = global.set(\"medPlace6\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace6_1 == true){\n    global.set(\"medPlace6[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace6_2 == true){\n    global.set(\"medPlace6[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace6_3 == true){\n    global.set(\"medPlace6[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace6_4 == true){\n    global.set(\"medPlace6[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace6_5 == true){\n    global.set(\"medPlace6[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace6_6 == true){\n    global.set(\"medPlace6[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace6_7 == true){\n    global.set(\"medPlace6[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace6[\"+6+\"]\", f)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "48e9d6b1.20fed8",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED7] Create medPlace Array",
        "func": "var medplace7 = global.set(\"medPlace7\", [0,0,0,0,0,0,0])\n\nvar t = 1\nvar f = 0\n\nif(msg.payload.medPlace7_1 == true){\n    global.set(\"medPlace7[\"+0+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+0+\"]\", f)\n}\n\nif(msg.payload.medPlace7_2 == true){\n    global.set(\"medPlace7[\"+1+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+1+\"]\", f)\n}\n\nif(msg.payload.medPlace7_3 == true){\n    global.set(\"medPlace7[\"+2+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+2+\"]\", f)\n}\n\nif(msg.payload.medPlace7_4 == true){\n    global.set(\"medPlace7[\"+3+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+3+\"]\", f)\n}\n\nif(msg.payload.medPlace7_5 == true){\n    global.set(\"medPlace7[\"+4+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+4+\"]\", f)\n}\n\nif(msg.payload.medPlace7_6 == true){\n    global.set(\"medPlace7[\"+5+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+5+\"]\", f)\n}\n\nif(msg.payload.medPlace7_7 == true){\n    global.set(\"medPlace7[\"+6+\"]\", t)\n}else{\n    global.set(\"medPlace7[\"+6+\"]\", f)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "c12eea3e.4aaba8",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED1] Change Date Format",
        "func": "var meddate = global.get(\"medStartDate1\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate1\", datesplit2)\n}else{\n    global.set(\"medDate1\", [0, 0, 0])\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3d16ab6a.668fb4",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED1] Change Time Format",
        "func": "var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime1\", timesplit2)\n}else{\n    global.set(\"medTime1\", [0,0,0])\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3132748d.828fdc",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED2] Change Date Format",
        "func": "var meddate = global.get(\"medStartDate2\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate2\", datesplit2)\n}else{\n    global.set(\"medDate2\", [0, 0, 0])\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "ef57cb28.41b6f8",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED2] Change Time Format",
        "func": "var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime2\", timesplit2)\n}else{\n    global.set(\"medTime2\", [0,0,0])\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "ab42a4ea.a3a5d8",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED3] Change Date Format",
        "func": "var meddate = global.get(\"medStartDate3\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate3\", datesplit2)\n}else{\n    global.set(\"medDate3\", [0, 0, 0])\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "288b52da.13b31e",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED3] Change Time Format",
        "func": "var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime3\", timesplit2)\n}else{\n    global.set(\"medTime3\", [0,0,0])\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "4f800199.43ec8",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED4] Change Date Format",
        "func": "var meddate = global.get(\"medStartDate4\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate4\", datesplit2)\n}else{\n    global.set(\"medDate4\", [0, 0, 0])\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "558c7c65.b8ace4",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED4] Change Time Format",
        "func": "var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime4\", timesplit2)\n}else{\n    global.set(\"medTime4\", [0,0,0])\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "80cee24.f930a2",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED5] Change Date Format",
        "func": "var meddate = global.get(\"medStartDate5\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate5\", datesplit2)\n}else{\n    global.set(\"medDate5\", [0, 0, 0])\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "a83d43eb.d3c19",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED5] Change Time Format",
        "func": "var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime5\", timesplit2)\n}else{\n    global.set(\"medTime5\", [0,0,0])\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "328daf99.32c93",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED6] Change Date Format",
        "func": "var meddate = global.get(\"medStartDate6\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate6\", datesplit2)\n}else{\n    global.set(\"medDate6\", [0, 0, 0])\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "c3050a49.0806d8",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED6] Change Time Format",
        "func": "var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime6\", timesplit2)\n}else{\n    global.set(\"medTime6\", [0,0,0])\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "6325bf0.6edb34",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED7] Change Date Format",
        "func": "var meddate = global.get(\"medStartDate7\")\nif(meddate!=null){\n    var datesplit1 = meddate.split(\"T\")\n    var datesplit2 = datesplit1[0].split(\"-\")\n    for (var i=0; i<3; i++){\n    datesplit2[i] = parseInt(datesplit2[i], 10)\n    }\n    global.set(\"medDate7\", datesplit2)\n}else{\n    global.set(\"medDate7\", [0, 0, 0])\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "cdd43411.f83a18",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "[MED7] Change Time Format",
        "func": "var medtime = msg.payload\n\nif(medtime!=null){\n    var timesplit1 = medtime.split(\"T\")\n    var timesplit2 = timesplit1[1].split(\":\")\n    timesplit2.splice(2) \n    for (var i=0; i<2; i++){\n    timesplit2[i] = parseInt(timesplit2[i], 10)\n    }\n    global.set(\"medTime7\", timesplit2)\n}else{\n    global.set(\"medTime7\", [0,0,0])\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "6a878037.18bd7",
        "type": "ui_form",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "label": "Medicamento 1",
        "group": "9cabde5c.717f7",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nome do medicamento",
                "value": "medName1",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Data de início do tratamento",
                "value": "medStartDate1",
                "type": "date",
                "required": false,
                "rows": null
            },
            {
                "label": "Hora de início do tratamento:",
                "value": "medStartTime1",
                "type": "time",
                "required": false,
                "rows": null
            },
            {
                "label": "Frequência (em horas)",
                "value": "medFreq1",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Quantidade de comprimidos no compartimento ",
                "value": "dosMed1",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 1",
                "value": "medPlace1_1",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 2",
                "value": "medPlace1_2",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 3",
                "value": "medPlace1_3",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 4",
                "value": "medPlace1_4",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 5",
                "value": "medPlace1_5",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 6",
                "value": "medPlace1_6",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Compartimento 7",
                "value": "medPlace1_7",
                "type": "checkbox",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "medName1": "",
            "medStartDate1": "",
            "medStartTime1": "",
            "medFreq1": "",
            "dosMed1": "",
            "medPlace1_1": false,
            "medPlace1_2": false,
            "medPlace1_3": false,
            "medPlace1_4": false,
            "medPlace1_5": false,
            "medPlace1_6": false,
            "medPlace1_7": false
        },
        "payload": "",
        "submit": "Enviar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "76f1b272.d0d9ac",
                "702c9c1a.d692c4",
                "9da39be.092b268"
            ]
        ]
    },
    {
        "id": "9c9bb0e9.2b7e3",
        "type": "debug",
        "z": "1b1ce8e2.cd3017",
        "name": "h",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 40,
        "wires": []
    },
    {
        "id": "9da39be.092b268",
        "type": "moment",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "topic": "",
        "input": "payload.medStartTime1",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": "3",
        "adjType": "hours",
        "adjDir": "subtract",
        "format": "",
        "locale": "pt-BR",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/Sao_Paulo",
        "x": 840,
        "y": 100,
        "wires": [
            [
                "3d16ab6a.668fb4",
                "9c9bb0e9.2b7e3"
            ]
        ]
    },
    {
        "id": "10948f0c.9a0521",
        "type": "moment",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "topic": "",
        "input": "payload.medStartTime2",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": "3",
        "adjType": "hours",
        "adjDir": "subtract",
        "format": "",
        "locale": "pt-BR",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/Sao_Paulo",
        "x": 860,
        "y": 820,
        "wires": [
            [
                "ef57cb28.41b6f8"
            ]
        ]
    },
    {
        "id": "85d31014.3300d",
        "type": "moment",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "topic": "",
        "input": "payload.medStartTime3",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": "3",
        "adjType": "hours",
        "adjDir": "subtract",
        "format": "",
        "locale": "pt-BR",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/Sao_Paulo",
        "x": 860,
        "y": 980,
        "wires": [
            [
                "288b52da.13b31e"
            ]
        ]
    },
    {
        "id": "9dc8b411.80fa58",
        "type": "moment",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "topic": "",
        "input": "payload.medStartTime4",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": "3",
        "adjType": "hours",
        "adjDir": "subtract",
        "format": "",
        "locale": "pt-BR",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/Sao_Paulo",
        "x": 860,
        "y": 1120,
        "wires": [
            [
                "558c7c65.b8ace4"
            ]
        ]
    },
    {
        "id": "7167fcd3.8741f4",
        "type": "moment",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "topic": "",
        "input": "payload.medStartTime5",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": "3",
        "adjType": "hours",
        "adjDir": "subtract",
        "format": "",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/Sao_Paulo",
        "x": 860,
        "y": 1260,
        "wires": [
            [
                "a83d43eb.d3c19"
            ]
        ]
    },
    {
        "id": "d93fd66b.4891e8",
        "type": "moment",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "topic": "",
        "input": "payload.medStartTime6",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": "3",
        "adjType": "hours",
        "adjDir": "subtract",
        "format": "",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/Sao_Paulo",
        "x": 860,
        "y": 1400,
        "wires": [
            [
                "c3050a49.0806d8"
            ]
        ]
    },
    {
        "id": "e6f9d09d.5c62a",
        "type": "moment",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "topic": "",
        "input": "payload.medStartTime7",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": "3",
        "adjType": "hours",
        "adjDir": "subtract",
        "format": "",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/Sao_Paulo",
        "x": 860,
        "y": 1540,
        "wires": [
            [
                "cdd43411.f83a18"
            ]
        ]
    },
    {
        "id": "6c4456e49364c1f4",
        "type": "mysql",
        "z": "1b1ce8e2.cd3017",
        "mydb": "059998258fe85c80",
        "name": "",
        "x": 1990,
        "y": 580,
        "wires": [
            [
                "35683c32c158e288"
            ]
        ]
    },
    {
        "id": "35683c32c158e288",
        "type": "debug",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2210,
        "y": 580,
        "wires": []
    },
    {
        "id": "f5a7ddf42ddc335f",
        "type": "debug",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 180,
        "wires": []
    },
    {
        "id": "05fb4dcada77c2b6",
        "type": "debug",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "1ad8a7aabbda29af",
        "type": "string",
        "z": "1b1ce8e2.cd3017",
        "name": "Nome_medicamento",
        "methods": [
            {
                "name": "toString",
                "params": []
            }
        ],
        "prop": "payload.medName1",
        "propout": "payload.medName1",
        "object": "msg",
        "objectout": "msg",
        "x": 1260,
        "y": 340,
        "wires": [
            [
                "4badb01726867e46"
            ]
        ]
    },
    {
        "id": "6f5147afc48c13fb",
        "type": "string",
        "z": "1b1ce8e2.cd3017",
        "name": "Data_início_tratamento",
        "methods": [
            {
                "name": "toString",
                "params": []
            }
        ],
        "prop": "payload.medStartDate1",
        "propout": "payload.medStartDate1",
        "object": "msg",
        "objectout": "msg",
        "x": 1310,
        "y": 520,
        "wires": [
            [
                "ee22a9c7e3301ae7"
            ]
        ]
    },
    {
        "id": "4badb01726867e46",
        "type": "string",
        "z": "1b1ce8e2.cd3017",
        "name": "Frequencia",
        "methods": [
            {
                "name": "toString",
                "params": []
            }
        ],
        "prop": "payload.medFreq1",
        "propout": "payload.medFreq1",
        "object": "msg",
        "objectout": "msg",
        "x": 1230,
        "y": 380,
        "wires": [
            [
                "a89203ec4f459a8e"
            ]
        ]
    },
    {
        "id": "a89203ec4f459a8e",
        "type": "string",
        "z": "1b1ce8e2.cd3017",
        "name": "Dosagem",
        "methods": [
            {
                "name": "toInteger",
                "params": []
            }
        ],
        "prop": "payload.dosMed1",
        "propout": "payload.dosMed1",
        "object": "msg",
        "objectout": "msg",
        "x": 1200,
        "y": 420,
        "wires": [
            [
                "4604860a3518ddde"
            ]
        ]
    },
    {
        "id": "d299f53f703d3bf2",
        "type": "string",
        "z": "1b1ce8e2.cd3017",
        "name": "Hora_início_tratamento",
        "methods": [
            {
                "name": "toString",
                "params": []
            }
        ],
        "prop": "payload.medStartTime1",
        "propout": "medStartTime1",
        "object": "msg",
        "objectout": "msg",
        "x": 1290,
        "y": 580,
        "wires": [
            [
                "e2eb66e9dd9304aa"
            ]
        ]
    },
    {
        "id": "1710ad77e3b0c916",
        "type": "delay",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 340,
        "wires": [
            [
                "1ad8a7aabbda29af"
            ]
        ]
    },
    {
        "id": "e2eb66e9dd9304aa",
        "type": "function",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "func": "msg.payload = `INSERT INTO Tcc.Cadastro_Medicamento(paciente_id, Nome_medicamento, Data_inicio_tratamento,Hora_inicio_tratamento,Frequencia,Qtd_comprimidos_compartimento,Compartimento)\n    SELECT  *\n    FROM (SELECT '1' AS paciente_id,\n    \"${msg.payload.medName1}\" AS Nome_medicamento,\n    \"${msg.payload.medStartDate1}\" AS Data_inicio_tratamento,\n    \"${msg.medStartTime1}\" AS Hora_inicio_tratamento,\n    ${msg.payload.medFreq1} AS Frequencia,\n    ${msg.payload.dosMed1} AS Qtd_comprimidos_compartimento,\n    '4' AS Compartimento) AS temp\n    WHERE NOT EXISTS (SELECT paciente_id,Compartimento\n                      FROM Tcc.Cadastro_Medicamento AS med\n                      WHERE med.paciente_id = '1' AND med.Compartimento = '4'\n                     )\n\tLIMIT 1;'\n                     \n\t\t\t\t\t`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 580,
        "wires": [
            [
                "6832b3bf90138162"
            ]
        ]
    },
    {
        "id": "1bd92bb04a332853",
        "type": "debug",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1940,
        "y": 540,
        "wires": []
    },
    {
        "id": "6832b3bf90138162",
        "type": "string",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "methods": [
            {
                "name": "toString",
                "params": []
            }
        ],
        "prop": "payload",
        "propout": "topic",
        "object": "msg",
        "objectout": "msg",
        "x": 1770,
        "y": 580,
        "wires": [
            [
                "6c4456e49364c1f4",
                "1bd92bb04a332853"
            ]
        ]
    },
    {
        "id": "03e36ddcfa2de67b",
        "type": "moment",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "topic": "",
        "input": "payload.medStartTime1",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": "3",
        "adjType": "hours",
        "adjDir": "subtract",
        "format": "HH:mm",
        "locale": "pt-BR",
        "output": "payload.medStartTime1",
        "outputType": "msg",
        "outTz": "America/Sao_Paulo",
        "x": 1040,
        "y": 580,
        "wires": [
            [
                "d299f53f703d3bf2",
                "2a5b03bfecbaddd9"
            ]
        ]
    },
    {
        "id": "343204f8067bbc8f",
        "type": "debug",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.medStartDate1",
        "targetType": "msg",
        "statusVal": "Date",
        "statusType": "auto",
        "x": 1300,
        "y": 680,
        "wires": []
    },
    {
        "id": "39828b14ec5a64f5",
        "type": "moment",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "topic": "",
        "input": "payload.medStartDate1",
        "inputType": "msg",
        "inTz": "Africa/Abidjan",
        "adjAmount": "3",
        "adjType": "hours",
        "adjDir": "subtract",
        "format": "YYYY-MM-DD",
        "locale": "pt-BR",
        "output": "payload.medStartDate1",
        "outputType": "msg",
        "outTz": "America/Sao_Paulo",
        "x": 1060,
        "y": 520,
        "wires": [
            [
                "6f5147afc48c13fb",
                "343204f8067bbc8f"
            ]
        ]
    },
    {
        "id": "4604860a3518ddde",
        "type": "delay",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 520,
        "wires": [
            [
                "39828b14ec5a64f5"
            ]
        ]
    },
    {
        "id": "ee22a9c7e3301ae7",
        "type": "delay",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 580,
        "wires": [
            [
                "03e36ddcfa2de67b"
            ]
        ]
    },
    {
        "id": "2a5b03bfecbaddd9",
        "type": "debug",
        "z": "1b1ce8e2.cd3017",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.medStartTime1",
        "targetType": "msg",
        "statusVal": "payload.medStartTime1",
        "statusType": "auto",
        "x": 1300,
        "y": 640,
        "wires": []
    },
    {
        "id": "2f0296ff.b8c79a",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "716d0fb1.119fd",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "90559693.85cfa8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nome:",
        "format": "{{msg.payload[0].Nome_medicamento | uppercase}}",
        "layout": "col-center",
        "className": "",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "258e37cd.8fbe98",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "90559693.85cfa8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Data de início:",
        "format": "{{msg.payload[1].Data_inicio_tratamento | date : 'dd/MM/yyyy'}}",
        "layout": "col-center",
        "className": "",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "55baed2a.d3dde4",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "90559693.85cfa8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hora de início: ",
        "format": "{{msg.payload[0].Hora_inicio_tratamento | date:'HH:mm'}}",
        "layout": "col-center",
        "className": "",
        "x": 720,
        "y": 540,
        "wires": []
    },
    {
        "id": "dc3bfd9.b8a64",
        "type": "inject",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "lastSyncBox",
        "payloadType": "global",
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f3f35c00.9ef65",
        "type": "ui_button",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "group": "46e64040.1f32b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Recadastrar Remédios",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "1",
        "topicType": "str",
        "x": 120,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "3105c99f.39a4f6",
        "type": "inject",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "userName",
        "payloadType": "global",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "cbff1612.47c6d8"
            ]
        ]
    },
    {
        "id": "cbff1612.47c6d8",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "46e64040.1f32b",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Olá, ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "4c67076d.eee448",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "90559693.85cfa8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Último horário consumido:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 750,
        "y": 740,
        "wires": []
    },
    {
        "id": "53d97467.442d6c",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "90559693.85cfa8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Próximo horário:",
        "format": "{{msg.payload | date:'HH:mm d/M/yyyy'}}",
        "layout": "col-center",
        "x": 720,
        "y": 800,
        "wires": []
    },
    {
        "id": "bd112115.6ee29",
        "type": "comment",
        "z": "2f0296ff.b8c79a",
        "name": "General Group",
        "info": "",
        "x": 160,
        "y": 20,
        "wires": []
    },
    {
        "id": "3944334d.e529ac",
        "type": "change",
        "z": "2f0296ff.b8c79a",
        "name": "Set to zero all user and tutor info",
        "rules": [
            {
                "t": "set",
                "p": "userCell",
                "pt": "global",
                "to": "",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "userName",
                "pt": "global",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "userMail",
                "pt": "global",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "userTelegramOp",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "tutorName",
                "pt": "global",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "tutorCell",
                "pt": "global",
                "to": "",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "tutorTelegramOp",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "tutorMail",
                "pt": "global",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e9daff9e.98702",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "90559693.85cfa8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Quantidade de comprimidos no compartimento:",
        "format": "{{msg.payload[0].Qtd_comprimidos_compartimento}}",
        "layout": "col-center",
        "className": "",
        "x": 820,
        "y": 580,
        "wires": []
    },
    {
        "id": "525b27f6.3ebbd8",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "d": true,
        "group": "7e158bed.eb3f54",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nome:",
        "format": "{{msg.payload | uppercase}}",
        "layout": "col-center",
        "className": "",
        "x": 630,
        "y": 940,
        "wires": []
    },
    {
        "id": "7ac34a57.d1b7b4",
        "type": "inject",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "medName2",
        "payloadType": "global",
        "x": 190,
        "y": 940,
        "wires": [
            [
                "525b27f6.3ebbd8"
            ]
        ]
    },
    {
        "id": "7e785aae.41ce54",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "7e158bed.eb3f54",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Data de início:",
        "format": "{{msg.payload | date : 'dd/MM/yyyy'}}",
        "layout": "col-center",
        "x": 660,
        "y": 980,
        "wires": []
    },
    {
        "id": "8cbde910.813968",
        "type": "inject",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "medStartDate2",
        "payloadType": "global",
        "x": 200,
        "y": 980,
        "wires": [
            [
                "7e785aae.41ce54"
            ]
        ]
    },
    {
        "id": "e7b3902b.05021",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "7e158bed.eb3f54",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hora de início: ",
        "format": "{{msg.payload | date:'HH:mm'}}",
        "layout": "col-center",
        "x": 660,
        "y": 1020,
        "wires": []
    },
    {
        "id": "11f73ef6.e0eda1",
        "type": "inject",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "medStartTime2",
        "payloadType": "global",
        "x": 210,
        "y": 1020,
        "wires": [
            [
                "e7b3902b.05021"
            ]
        ]
    },
    {
        "id": "972a24c3.46b848",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "7e158bed.eb3f54",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Último horário consumido:",
        "format": "{{msg.payload | date:'HH:mm d/M/yyyy'}}",
        "layout": "col-center",
        "x": 690,
        "y": 1100,
        "wires": []
    },
    {
        "id": "58f4c1bc.fa3cc",
        "type": "inject",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "okmed2",
        "payloadType": "global",
        "x": 180,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "945192b7.89ced",
        "type": "inject",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "nextmed2",
        "payloadType": "global",
        "x": 190,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "b9b710ea.6a941",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "7e158bed.eb3f54",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Próximo horário:",
        "format": "{{msg.payload | date:'HH:mm d/M/yyyy'}}",
        "layout": "col-center",
        "x": 660,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b3f2633c.75fd1",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "7e158bed.eb3f54",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dosagem por horário:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 680,
        "y": 1060,
        "wires": []
    },
    {
        "id": "49811e88.3f4f9",
        "type": "inject",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "dosMed2",
        "payloadType": "global",
        "x": 190,
        "y": 1060,
        "wires": [
            [
                "b3f2633c.75fd1"
            ]
        ]
    },
    {
        "id": "edd6233b.622c1",
        "type": "inject",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "medFreq2",
        "payloadType": "global",
        "x": 190,
        "y": 1180,
        "wires": [
            [
                "ca01b9bb.6b2a18"
            ]
        ]
    },
    {
        "id": "ca01b9bb.6b2a18",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "7e158bed.eb3f54",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Frequência (h):",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 660,
        "y": 1180,
        "wires": []
    },
    {
        "id": "502c09ac.56f048",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "90559693.85cfa8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Frequência (h):",
        "format": "{{msg.payload[0].Frequencia}}",
        "layout": "col-center",
        "className": "",
        "x": 720,
        "y": 620,
        "wires": []
    },
    {
        "id": "cc9861a6.c79de",
        "type": "ui_dropdown",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "label": "Ver:",
        "tooltip": "Selecione o número de medicamentos para visualização",
        "place": "Selecione",
        "group": "46e64040.1f32b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "0",
                "value": "0",
                "type": "str"
            },
            {
                "label": "1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "2",
                "value": "2",
                "type": "str"
            },
            {
                "label": "3",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4",
                "value": "4",
                "type": "str"
            },
            {
                "label": "5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "6",
                "value": "6",
                "type": "str"
            },
            {
                "label": "7",
                "value": "7",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "c6b70e6.65253f",
                "7b83031ea47b9b09"
            ]
        ]
    },
    {
        "id": "b24be65e.4d3488",
        "type": "ui_ui_control",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "events": "all",
        "x": 640,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c6b70e6.65253f",
        "type": "function",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "func": "qtd = msg.payload;\n\nif (qtd==0){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_1\",\"Dashboard_Medicação_2\",\"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"]}}\n    return msg;\n}else if (qtd == 1){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_2\",\"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"], \"show\": [\"Dashboard_Medicação_1\"]}}\n    return msg;\n}else if(qtd==2){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"], \"show\": [\"Dashboard_Medicação_1\", \"Dashboard_Medicação_2\"]}}\n    return msg;\n}else if(qtd==3){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"], \"show\": [\"Dashboard_Medicação_1\", \"Dashboard_Medicação_2\", \"Dashboard_Medicação_3\"]}}\n    return msg;\n}else if(qtd==4){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"], \"show\": [\"Dashboard_Medicação_1\", \"Dashboard_Medicação_2\", \"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\"]}}\n    return msg;\n}else if(qtd==5){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"], \"show\": [\"Dashboard_Medicação_1\", \"Dashboard_Medicação_2\", \"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\"]}}\n    return msg;\n}else if(qtd==6){\n    msg.payload = {\"group\": {\"hide\": [\"Dashboard_Medicação_7\"], \"show\": [\"Dashboard_Medicação_1\",\"Dashboard_Medicação_2\",\"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\"]}}\n    return msg;\n}else if(qtd==7){\n    msg.payload = {\"group\": {\"show\": [\"Dashboard_Medicação_1\",\"Dashboard_Medicação_2\",\"Dashboard_Medicação_3\",\"Dashboard_Medicação_4\", \"Dashboard_Medicação_5\",\"Dashboard_Medicação_6\", \"Dashboard_Medicação_7\"]}}\n    return msg;\n}\n\n        \n      \n\n     \n\n    ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "b24be65e.4d3488"
            ]
        ]
    },
    {
        "id": "2e6d3cb7.743b44",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "90559693.85cfa8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Compartimentos:",
        "format": "{{msg.payload[0].Compartimentos}}",
        "layout": "col-center",
        "className": "",
        "x": 730,
        "y": 680,
        "wires": []
    },
    {
        "id": "4a7e33a4.6ae78c",
        "type": "inject",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "medPlace2",
        "payloadType": "global",
        "x": 190,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "5b4bc69b.523ec8",
        "type": "ui_text",
        "z": "2f0296ff.b8c79a",
        "group": "7e158bed.eb3f54",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Compartimentos:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 1220,
        "wires": []
    },
    {
        "id": "d5ed539c.a87d4",
        "type": "comment",
        "z": "2f0296ff.b8c79a",
        "name": "Med 1",
        "info": "",
        "x": 130,
        "y": 420,
        "wires": []
    },
    {
        "id": "da92586da559e921",
        "type": "mysql",
        "z": "2f0296ff.b8c79a",
        "mydb": "059998258fe85c80",
        "name": "",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "483381cfa8707356",
                "716d0fb1.119fd",
                "258e37cd.8fbe98",
                "55baed2a.d3dde4",
                "502c09ac.56f048",
                "e9daff9e.98702"
            ]
        ]
    },
    {
        "id": "483381cfa8707356",
        "type": "debug",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "2a803c5ea5cd31cd",
        "type": "inject",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM Tcc.Cadastro_medicamento WHERE Compartimento = 1;",
        "payload": "medicamento",
        "payloadType": "str",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "da92586da559e921"
            ]
        ]
    },
    {
        "id": "72eaa90ba0dfe64e",
        "type": "mysql",
        "z": "2f0296ff.b8c79a",
        "mydb": "059998258fe85c80",
        "name": "",
        "x": 350,
        "y": 680,
        "wires": [
            [
                "46055bd2779e045c",
                "2e6d3cb7.743b44"
            ]
        ]
    },
    {
        "id": "93fb064fa1c47e57",
        "type": "inject",
        "z": "2f0296ff.b8c79a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT  paciente_id, group_concat( DISTINCT Compartimento     ORDER BY Compartimento DESC SEPARATOR ' ' ) as Compartimentos FROM tcc.medicamento GROUP BY Nome_medicamento;",
        "payload": "Compartimento",
        "payloadType": "str",
        "x": 140,
        "y": 680,
        "wires": [
            [
                "72eaa90ba0dfe64e"
            ]
        ]
    },
    {
        "id": "46055bd2779e045c",
        "type": "debug",
        "z": "2f0296ff.b8c79a",
        "name": "Compartimento",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0].Compartimentos",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 640,
        "wires": []
    },
    {
        "id": "7b83031ea47b9b09",
        "type": "debug",
        "z": "2f0296ff.b8c79a",
        "name": "ver",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "a3a8f60e.4747a8",
        "type": "ui_group",
        "name": "CadastroMed2",
        "tab": "f44ad2a3.2331b",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c0c4f2d.99e0b1",
        "type": "ui_group",
        "name": "Selecione n.º de medicamentos",
        "tab": "f44ad2a3.2331b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "49ce15cd.8c285c",
        "type": "ui_group",
        "name": "CadastroMed3",
        "tab": "f44ad2a3.2331b",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ab7eb3dd.ce18e",
        "type": "ui_group",
        "name": "CadastroMed4",
        "tab": "f44ad2a3.2331b",
        "order": 5,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "74b0a92c.8c4be8",
        "type": "ui_group",
        "name": "CadastroMed5",
        "tab": "f44ad2a3.2331b",
        "order": 6,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "65ee5774.da5698",
        "type": "ui_group",
        "name": "CadastroMed6",
        "tab": "f44ad2a3.2331b",
        "order": 7,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c12a1ba1.28b078",
        "type": "ui_group",
        "name": "CadastroMed7",
        "tab": "f44ad2a3.2331b",
        "order": 8,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9cabde5c.717f7",
        "type": "ui_group",
        "name": "CadastroMed1",
        "tab": "f44ad2a3.2331b",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "059998258fe85c80",
        "type": "MySQLdatabase",
        "name": "Tcc- Azure",
        "host": "primysql.mysql.database.azure.com",
        "port": "3306",
        "db": "Tcc",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "90559693.85cfa8",
        "type": "ui_group",
        "name": "Medicação 1",
        "tab": "e3277e2c.a85d8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "46e64040.1f32b",
        "type": "ui_group",
        "name": "Informações Gerais",
        "tab": "e3277e2c.a85d8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7e158bed.eb3f54",
        "type": "ui_group",
        "name": "Medicação 2",
        "tab": "e3277e2c.a85d8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f44ad2a3.2331b",
        "type": "ui_tab",
        "name": "Medicamentos",
        "icon": "fa-medkit",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e3277e2c.a85d8",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "fa-bar-chart",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]